@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar Josefin Sans globalmente */
body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* O el peso que desees predeterminado */
    font-style: normal;
}
/* index.css o tu archivo CSS */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  